output/
data_rooftop/
data_hk/
custom/
*.asv
endpoint_satellite/test_input/
endpoint_satellite/test_run_output/
endpoint_satellite/tmp_matlab_prefs/
endpoint_satellite/nav_cache/
endpoint_satellite/output/
handoff/
*.csv
*.mat
receiver_opensky_0514.25o
*.tsv
*.zip
*.ASCII
*.25o
*.25O
*.25n
*.25N
*.25p
*.25P
*.gz
*.GZ
*.rnx
*.RNX
*.obs
*.OBS
endpoint_satellite/data/
